@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@500&display=swap');


img{
  vertical-align: middle;
  /*animation: rotation 30s infinite linear;*/
  filter: drop-shadow(4px 2px 3px grey);
  max-width: 5rem;
  margin: 1rem;
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Fredoka One', sans-serif;
  font-size: 4rem;
  text-shadow: 4px 2px 3px grey;
  text-align: center;
  color: #2f379e;
  margin-bottom: 0;
  margin-top: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
}

#buttons{
  text-align: center;
}
button{
  margin-bottom: .8rem;
  font-family: 'Quicksand', sans-serif;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.5);
  border-radius: 6px;
  box-shadow:  0px 0px 5px rgba(27, 31, 35, 0.5);
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  padding: 5px 13px;
}

/* CSS */

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}


button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}



#table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 0.6em;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  
  font-size: 1.1rem;
}

#table thead tr th{
  background-color: #3e47cc;
  color: #ffffff;
  text-align: left;
  padding: 1.3em 1.3em;
}
#table td{
  padding: 1em 1em;
  border-bottom: 1px solid #a1a1a1;
  hyphens: auto;
  
  height: 2px;
}
#table tr{
  background: #f5f5f5;
  
  
}


#table tr:nth-of-type(even){
  background: #dddddd;
}
#table tr:last-of-type{
  border-bottom: 3px solid #a1a1a1;
}

.positive_variation{
  color: green;
}
.negative_variation{
  color: red;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30vh; /* Location of the box */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10px auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 95vw;
  width: max-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 30px 30px 20px 20px;
}
/* Modal Header */
.modal-header {
  padding: 1em;
  background-color: #518dfd;
  color: white;
  border-radius: 20px 20px 0px 0px;
}
.modal-header div{
  display: inline-block;
  font-weight: bold;
  font-size: 1.6em;
  margin-right: 0.2em;
}
.modal-body {
  padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-device-width: 640px) {
  
  #table{
    width: 100%;
  }
  #modal-content{
    
    color: red;
    
  }
  /* pour faire disparaitre la colonne blitz */
  td:nth-child(4), th:nth-child(4){
    display: none;
  }
  img{
    max-width: 4rem;
    
    position : absolute;
    top: .2rem;
    left: .2rem;
  }
  
  
}
