
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&family=Smooch+Sans:wght@600&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}


h1{
	font-family: 'Fredoka One', sans-serif;
	font-size: 4em;
	text-shadow: 2px 2px 5px grey;
	text-align: center;
  color: #042942;
}

#table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-radius: 0.6em;
	overflow: hidden;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

#table td, th{
	padding: 0.6em 1em;
	border-bottom: 2px solid #a1a1a1;
}

#table tr{
	background: #d7d7d7;
}
#table tr:nth-of-type(even){
	background: #fff;
}
#table tr:last-of-type{
		border-bottom: 5px solid #a1a1a1;
	}
#table thead tr{
	background-color: #075487;
    color: #ffffff;
    text-align: left;
  
}

#btns{
	text-align: center;
	margin-bottom: 1em;
}

.positive_variation{
	color: green;
}
.negative_variation{
	color: red;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: max-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1em;
  background-color: #388E8E;
  color: white;
}
.modal-header div{
	display: inline-block;
	font-weight: bold;
	font-size: 2em;
	margin-right: 0.2em;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
